* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
}


body, html {
    overflow-x: hidden;
    width: 100%;
}
.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.mainmenu {
    background: linear-gradient(360deg, #d21e64 0%, #26abb5 100%);
    max-width: 412px;
    width: 100%;
    min-height: 100vh;
    padding-top: 34px;
    padding-bottom: 3px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    margin-left: 31px;
}

.balance {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-left: 49px;
    margin-top: 56px;
}

.balanc {
    display: flex;
    max-width: 412px;
    width: 100%;
    margin-left: 49px;
}

.token {
    margin-top: 17px;
}

.value {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    margin-top: 13px;
    margin-left: 5px;
}

.menu__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 75px));
    gap: 28px;
    margin-top: 220px;
    margin-left: 5px;
    padding: 0 15px;
}

.btn_buy, .btn_copyright, .btn_settings, .btn_missions {
    cursor: pointer;
}

.btn_buy {
    margin-left: 20px;
}

.btn_copyright {
    margin-left: 47px;
}

.btn_settings {
    margin-top: -20px;
}
.audio__container {
    border-radius: 11px;
    width: 100%;
    height: 50px;
    margin-top: 41px;
    background: #915382;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    height: 55px;
}

.song {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем содержимое по горизонтали */
    justify-content: center; /* Центрируем содержимое по вертикали */
    text-align: center; /* Центрируем текст внутри */
    flex-grow: 1; /* Растягиваем блок, чтобы занимал доступное пространство */
}

.songautor {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.songtitle {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.btn_play {
    margin-left: 10px;
    cursor: pointer;
}

.btn_next {
    cursor: pointer;
    margin-right: 10px;
}
